<section class="hero py-16 px-16">
    <div class="container mx-auto flex items-center justify-between">
        <div class="w-1/2">
            <h6 class="text-lg"><em>Are you hungry?</em></h6>
            <h1 class="text-6xl font-bold">Don't wait!!</h1>
            <button>Order Now</button>
        </div>
        <div class="w-1/2">
            <img src="/images/hero-pizza.png" alt="" />
        </div>
    </div>
</section>
<section class="menu container mx-auto p-16">
    <h1 class="font-bold text-xl mb-4">All Pizzas</h1>
    <div class="grid grid-cols-4 gap-16">
        <div>
            <img class="h-40 mb-4 mx-auto" src="/images/pizza.png" alt="" />
            <div class="text-center">
                <h2 class="mb-4 text-lg font-bold">Punjabi tadka</h2>
                <h4 class="flex justify-center">
                    <span
                        class="py-1 px-4 rounded-full bg-[#f8f8f8] uppercase text-xs mx-auto"
                        >small</span
                    >
                </h4>
                <div class="flex justify-around items-center addtocart">
                    <p>$250</p>
                    <button>Add to cart</button>
                </div>
            </div>
        </div>
        <div>
            <img class="h-40 mb-4 mx-auto" src="/images/pizza.png" alt="" />
            <div class="text-center">
                <h2 class="mb-4 text-lg font-bold">Punjabi tadka</h2>
                <h4 class="flex justify-center">
                    <span
                        class="py-1 px-4 rounded-full bg-[#f8f8f8] uppercase text-xs mx-auto"
                        >small</span
                    >
                </h4>
                <div class="flex justify-around items-center addtocart">
                    <p>$250</p>
                    <button>Add to cart</button>
                </div>
            </div>
        </div>
        <div>
            <img class="h-40 mb-4 mx-auto" src="/images/pizza.png" alt="" />
            <div class="text-center">
                <h2 class="mb-4 text-lg font-bold">Punjabi tadka</h2>
                <h4 class="flex justify-center">
                    <span
                        class="py-1 px-4 rounded-full bg-[#f8f8f8] uppercase text-xs mx-auto"
                        >small</span
                    >
                </h4>
                <div class="flex justify-around items-center addtocart">
                    <p>$250</p>
                    <button>Add to cart</button>
                </div>
            </div>
        </div>
        <div>
            <img class="h-40 mb-4 mx-auto" src="/images/pizza.png" alt="" />
            <div class="text-center">
                <h2 class="mb-4 text-lg font-bold">Punjabi tadka</h2>
                <h4 class="flex justify-center">
                    <span
                        class="py-1 px-4 rounded-full bg-[#f8f8f8] uppercase text-xs mx-auto"
                        >small</span
                    >
                </h4>
                <div class="flex justify-around items-center addtocart">
                    <p>$250</p>
                    <button>Add to cart</button>
                </div>
            </div>
        </div>
        <div>
            <img class="h-40 mb-4 mx-auto" src="/images/pizza.png" alt="" />
            <div class="text-center">
                <h2 class="mb-4 text-lg font-bold">Punjabi tadka</h2>
                <h4 class="flex justify-center">
                    <span
                        class="py-1 px-4 rounded-full bg-[#f8f8f8] uppercase text-xs mx-auto"
                        >small</span
                    >
                </h4>
                <div class="flex justify-around items-center addtocart">
                    <p>$250</p>
                    <button>Add to cart</button>
                </div>
            </div>
        </div>
        <div>
            <img class="h-40 mb-4 mx-auto" src="/images/pizza.png" alt="" />
            <div class="text-center">
                <h2 class="mb-4 text-lg font-bold">Punjabi tadka</h2>
                <h4 class="flex justify-center">
                    <span
                        class="py-1 px-4 rounded-full bg-[#f8f8f8] uppercase text-xs mx-auto"
                        >small</span
                    >
                </h4>
                <div class="flex justify-around items-center addtocart">
                    <p>$250</p>
                    <button>Add to cart</button>
                </div>
            </div>
        </div>
    </div>
</section>
